.cmp__dropdown {
    background-color: #fff;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 70px;
    box-shadow: $shadow-base;

    &:before {
        background: #fff;
        box-shadow: none;
        content: "";
        display: block;
        height: 12px;
        width: 12px;
        right: 20px;
        position: absolute;
        bottom: 100%;
        @include prefix( transform, rotate(-45deg) translateY(12px) );
        z-index: -5;
        border-radius: 2px;
    }
}