.cmp__previewer.colour {
    width: 90px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

    > div {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        overflow: hidden;
    }

    > span:nth-child(2) {
        display: block;
        font-weight: 700;
        margin: 10px 0px 0px;
    }

    > span:nth-child(3) {
        font-size: 12px;
        margin-top: 0px;
        display: block;
    }

    &.primary > div {
        background-color: $colours-primary;
    }

    &.secondary > div {
        background-color: $colours-secondary;
    }

    &.dark > div {
        background-color: $colours-dark;
    }

    &.gray > div {
        background-color: $colours-gray;
    }

    &.gray-soft > div {
        background-color: $colours-gray-soft;
    }

    &.background > div {
        background-color: $colours-background;
    }
}