# GitHub CODEOWNERS file is a simple way to automate away some of the pain associated with the review system on github,
# by automatically assigning reviewers to a pull request based on which files were modified.
# Read more: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
* @treeindev