// Generic variables
$typography-main: 'Montserrat', sans-serif;
$typography-secondary: 'Open Sans', sans-serif;

// Colours
$colours-primary: #101641;
$colours-secondary: #1665d8;
$colours-dark: #333333;
$colours-light: #999999;
$colours-gray: #696969;
$colours-gray-soft: #ececec;
$colours-white: #ffffff;
$colours-background: #f5f6f9;

// Shadows
$shadow-base: 0 50px 100px rgba(50, 59, 93, 0.1), 0px 9px 35px rgba(96, 145, 255, 0.15);
$shadow-soft: 3px 3px 12px 0px rgba(0, 0, 0, 0.04);