.cmp__spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25rem solid currentColor;
    border-right-color: transparent;
    border-radius: 100%;
    box-sizing: border-box;
    color: $colours-primary;
    @include prefix( animation, spinner .75s linear infinite );

    &.secondary {
        color: $colours-secondary;
    }
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

button.spinner {
    padding-left: 50px !important;
    min-height: 45px;
    padding: 10px;

    .cmp__spinner {
        position: absolute;
        left: 15px;
        top: 8px;
        width: 1.6rem;
        height: 1.6rem;
        color: $colours-white;
    }
}