.cmp__breadcrumb {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    li {
        position: relative;
        padding-right: 20px;
        margin-right: 10px;
        font-size: 13px;
        color: $colours-secondary;
        cursor: pointer;

        i {
            font-size: 18px;
        }
        
        &:after {
            color: $colours-primary;
            content: "/";
            font-size: 21px;
            margin-top: 4px;
            line-height: 0px;
            font-weight: 100;
            position: absolute;
            right: 0px;
            top: 6px;
        }

        &:last-child {
            color: $colours-primary;

            &:after {
                content: none;
                display: none;
            }
        }
    }
}