.cmp__cards.highlight {
    display: flex;
    align-items: center;

    > div:nth-child(1) {
        width: 30%;

        ion-icon {
            font-size: 4rem;
        }
    }

    > div:nth-child(2) {
        width: 70%;

        h5 {
            font-size: 17px;
            margin: 0;
            padding: 0;
            margin-bottom: 5px;
        }

        span {
            font-size: 25px;
        }
    }
}