h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    color: $colours-primary;
    margin-top: 0px;

    &.light {
        color: $colours-light;
    }
}

p {
    font-family: $typography-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7em;
}

body {
    font-family: $typography-secondary;
}

a {
    &.secondary {
        color: $colours-secondary;

        &:hover {
            color: darken($colours-secondary, 10%);
        }
        
        &.underscored {
            border-bottom: 1px solid $colours-secondary;
        }
    }
}