// Generic variables
$typography-main: 'Montserrat', sans-serif;
$typography-secondary: 'Open Sans', sans-serif;

// Colours
$colours-primary: #101641;
$colours-secondary: #e32f21;
$colours-dark: #333333;
$colours-light: #999999;
$colours-gray: #696969;
$colours-gray-light: #d0d0d0;
$colours-gray-soft: #ececec;
$colours-white: #ffffff;
$colours-background: #f5f6f9;
$colours-error: red;
$colours-danger: #db4328;
$colours-warning: #ffc107;
$colours-success: #2cc539;
$colours-info: #17a2b8;

// Shadows
$shadow-base: 0 50px 100px rgba(50, 59, 93, 0.1), 0px 9px 35px rgba(216, 38, 38, 0.15);
$shadow-soft: 3px 3px 12px 0px rgba(0, 0, 0, 0.04);
$shadow-medium: 3px 3px 12px 0px #00000020;
$shadow-medium-high: 3px 3px 12px 0px #00000040;
$shadow-vivid: 3px 3px 6px 0px rgba(216, 38, 38, 0.27);