.cmp__headline.video {
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 65vh;
    cursor: pointer;
    background-color: #000000;

    &:hover {
        img.background {
            opacity: 1;
            transform: translateY(-50%) scale(1.05,1.05);
        }
    }

    .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        padding-left: 30px;
    }

    .feat {
        text-transform: uppercase;
        font-weight: 600;
        background: #fff;
        padding: 5px 10px 5px 10px;
        color: #000;
        margin-bottom: 15px;
        display: inline-block;
    }

    .credits {
        color: #ffffff;
        font-size: 13px;
    }

    h1 {
        display: block;
        color: #ffffff;
        font-size: 60px;
        max-width: 40%;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1.05em;
        letter-spacing: -2px;
        margin-bottom: 15px;
    }

    img.background {
        width: 100%;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) scale(1,1);
        opacity: 0.8;
        @include prefix( transition, all .3s ease );
    }

    section {
        align-items: center;
        display: flex;
        margin-top: 20px;
        
        i {
            font-size: 45px;
            color: #ffffff;
            margin-right: 10px;
        }

        span {
            font-size: 15px;
        }
    }
}